@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

:root {
  --black-color: #666866;
  --light-gray-color:  #E9EDEA;
  --gray-color: #4E554E;
  --orange-color: #fc723c;
  --yellow-color: #F7E9C9;
  --dark-orange-color: #d9735b;
  --blue-color: #57afd5;
  --dark-blue-color: #353C5A;
  --green-color: #3E5641;
}